body {
  background-color: #F8F8F8;
}

title {
  font-size: 50px;
}

p {
  font-size: 30px;
}

h2 {
  font-size: 50px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 50px;
}

a:hover {
    color: #B6C6F2;
}

.wide {
    width: 100%;
    margin: auto;
}

.header-inner {
  position:;
}

.header-section {
  font-weight: normal;
  margin: auto;
  text-align: center;
  padding: 10px 20px;
}

.header-list {
  background-color: #B6C6F2;
  height: 120px;
  color: white;
}

.head-list a {
  color: white;
}

.header-list li a{
  float: left;
  padding: 25px 20px;
  color: white;
}

.header-list a:hover {
  background-color: white;
  color: #B6C6F2;
}

.primary {
  padding-top: 30px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  text-align: center;
}

.post-wrapper {
  background-color: #fff;
  margin-bottom: 30px;

}


.emfont {

}

.post-title {
  padding: 15px 0px;
}

.post-image {
  width: 80%;
  height: 791px;
}

.dottedline {
  position: relative;
  color: white;
  background-color: navy;
  font-size: 16px;
  padding: 10px;

  border-radius: 3px;
}

.post-text {
  margin: 10px;
  padding-bottom: 15px;
}

.post-text p {
  text-align: left;
}

.post-section {
  background-color: #fff;
  margin-bottom: 30px;
  margin: 0px 10px;
  padding: 0px 20px;
  width: 100%;
}

.my-photo {
  text-align: center;
}
